@import 'tailwindcss';
@import './themes';

@font-face {
	font-family: 'Digital';
	src: url('/Digital.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Tektur';
	src: url('/Tektur.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
	--font-digital: Digital, monospase;
	--font-tektur: Tektur, monospase;
}

@theme inline {
	/* Main colors */
	--color-blue: var(--blue);
	--color-steel-blue: var(--steel-blue);
	--color-light-blue: var(--light-blue);
	--color-white: var(--white);
	--color-charcoal-blue: var(--charcoal-blue);
	--color-cosmic-black: var(--cosmic-black);
	--color-powder-blue: var(--powder-blue);
	--color-gray: var(--gray);
	--color-yellow: var(--yellow);
	--color-red: var(--red);
	--color-teal: var(--teal);
	--color-purple: var(--purple);
	--color-green: var(--green);

	/* Themes */
	--color-foreground: var(--foreground);
	--color-background: var(--background);
}
