:root {
	--blue: #1e88e5;
	--steel-blue: #7598b6;
	--yellow: #ffb800;
	--red: #ff6347;
	--teal: #26c3ba;
	--purple: #7976de;
	--green: #4ac18f;
	--white: #ffffff;
	--light-blue: #ebf4fc;
	--powder-blue: #d8e5f0;
	--charcoal-blue: #1f2e3c;
	--cosmic-black: #0f1b24;
	--gray: #c1c1c1;
}

:root[data-theme='light'] {
	--foreground: var(--white);
	--background: var(--powder-blue);
}

:root[data-theme='dark'] {
	--foreground: var(--charcoal-blue);
	--background: var(--cosmic-black);
}
